<div>
  <h2>
    <span *ngIf="id == null">Create</span><span *ngIf="id != null">Edit</span> a
    Book
  </h2>
  <form
    id="editorForm"
    [formGroup]="bookForm"
    (ngSubmit)="saveBook()"
    class="form-container"
  >
    <mat-form-field>
      <input
        id="titleInput"
        matInput
        #titleInput
        type="text"
        placeholder="Title"
        formControlName="title"
        maxlength="250"
        required
      />
      <mat-hint align="end">{{ titleInput.value.length }} / 250</mat-hint>
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <mat-label id="descriptionLabel" for="descriptionInput"
        >Description</mat-label
      >
      <textarea
        id="descriptionInput"
        matInput
        #descriptionInput
        placeholder="Description"
        formControlName="description"
        maxlength="500"
      >
      </textarea>
      <mat-hint align="end">{{ descriptionInput.value.length }} / 500</mat-hint>
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <input
        id="rating"
        type="number"
        step=".5"
        matInput
        #ratingInput
        placeholder="Rating"
        formControlName="rating"
        required
        min="0"
        max="10"
      />
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <mat-label id="authorLabel" for="authorSelect">Author</mat-label>
      <mat-select
        id="authorSelect"
        #author
        formControlName="author"
        aria-placeholder="Author"
        [compareWith]="compareAuthors"
        required
      >
        <mat-option *ngFor="let author of authors" [value]="author"
          >{{ author.firstName }}{{ author.lastName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <br /><br />
    <button
      id="saveAuthorButton"
      mat-raised-button
      class="save-button"
      color="primary"
      type="submit"
    >
      Save
    </button>
    <br /><br />
  </form>
</div>
