<div>
  <h2>
    <span *ngIf="id == null">Create</span><span *ngIf="id != null">Edit</span> a
    Collection
  </h2>
  <form
    id="editorForm"
    [formGroup]="genreForm"
    (ngSubmit)="saveGenre()"
    class="form-container"
  >
    <mat-form-field>
      <input
        id="nameInput"
        matInput
        #nameInput
        type="text"
        placeholder="Name"
        formControlName="name"
        required
        maxlength="250"
      />
      <mat-hint align="end">{{ nameInput.value.length }} / 250</mat-hint>
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <mat-label id="descriptionLabel" for="descriptionInput"
        >Description</mat-label
      >
      <textarea
        id="descriptionInput"
        matInput
        #descriptionInput
        placeholder="Description"
        formControlName="description"
        required
        maxlength="500"
      >
      </textarea>
      <mat-hint align="end">{{ descriptionInput.value.length }} / 500</mat-hint>
    </mat-form-field>
    <br /><br />
    <button
      id="saveCollectionButton"
      mat-raised-button
      class="save-button"
      color="primary"
      type="submit"
    >
      Save
    </button>
    <br /><br />
  </form>
</div>
