<div>
  <h1>Login</h1>
  <form
    id="loginForm"
    class="form-container"
    [formGroup]="loginForm"
    (ngSubmit)="show()"
  >
    <mat-form-field>
      <input
        matInput
        placeholder="User Name"
        formControlName="userName"
        required
        type="text"
      />
    </mat-form-field>
    <!--  <mat-error *ngIf="loginForm.get('email').hasError('email')">
      Please enter a valid email address
    </mat-error> -->
    <br /><br />
    <mat-form-field>
      <input matInput placeholder="Password" required type="password" />
    </mat-form-field>
    <br />
    <br />
    <button id="loginButton" mat-raised-button color="primary" type="submit">
      Login
    </button>
    <br />
    <br />
    <br />
  </form>
</div>
