<div>
  <h2>
    <span *ngIf="id == null">Create</span
    ><span *ngIf="id != null">Edit</span> an Author
  </h2>

  <form
    id="authorEditorForm"
    class="form-container"
    [formGroup]="authorForm"
    (ngSubmit)="saveAuthor()"
  >
    <mat-form-field>
      <input
        id="firstNameInput"
        type="text"
        matInput
        #firstNameInput
        placeholder="First Name"
        formControlName="firstName"
        name="firstName"
        required
        maxlength="100"
      />
      <mat-hint align="end">{{ firstNameInput.value.length }} / 100</mat-hint>
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <input
        id="lastNameInput"
        type="text"
        matInput
        #lastNameInput
        placeholder="Last Name"
        formControlName="lastName"
        name="lastName"
        required
        maxlength="100"
      />
      <mat-hint align="end">{{ lastNameInput.value.length }} / 100</mat-hint>
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <input
        id="rating"
        type="number"
        step=".5"
        matInput
        #ratingInput
        placeholder="Rating"
        formControlName="rating"
        name="rating"
        required
        max="10"
        min="0"
      />
    </mat-form-field>
    <br /><br />
    <button
      id="saveAuthorButton"
      mat-raised-button
      class="save-button"
      color="primary"
      type="submit"
    >
      Save
    </button>
    <br /><br />
  </form>
</div>
