<div>
  <h2>Create/Edit an Author</h2>

  <form
    id="authorEditorForm"
    class="form-container"
    [formGroup]="authorForm"
    (ngSubmit)="saveAuthor()"
  >
    <mat-form-field>
      <input
        id="firstNameInput"
        type="text"
        matInput
        #firstNameInput
        placeholder="First Name"
        formControlName="firstName"
        name="firstName"
        required
      />
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <input
        id="lastNameInput"
        type="text"
        matInput
        #lastNameInput
        placeholder="Last Name"
        formControlName="lastName"
        name="lastName"
        required
      />
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <mat-label id="descriptionLabel" for="descriptionInput"
        >Description</mat-label
      >
      <textarea
        id="descriptionInput"
        matInput
        #descriptionInput
        placeholder="Description"
        formControlName="description"
        name="description"
      >
      </textarea>
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <input
        id="rating"
        type="number"
        step=".5"
        matInput
        #ratingInput
        placeholder="Rating"
        formControlName="rating"
        name="rating"
        required
      />
    </mat-form-field>
    <br /><br />
    <button
      id="saveAuthorButton"
      mat-raised-button
      class="save-button"
      color="primary"
      type="submit"
    >
      Save
    </button>
    <br /><br />
  </form>
</div>
