<div>
  <h2>Create/Edit an Author</h2>

  <form id="authorEditorForm">
    <mat-form-field>
      <input
        id="firstNameInput"
        matInput
        #firstNameInput
        placeholder="First Name"
        [(ngModel)]="author.firstName"
        name="firstName"
        required
      />
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <input
        id="lastNameInput"
        matInput
        #lastNameInput
        placeholder="Last Name"
        [(ngModel)]="author.lastName"
        name="lastName"
        required
      />
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <mat-label id="descriptionLabel" for="descriptionInput"
        >Description</mat-label
      >
      <textarea
        id="descriptionInput"
        matInput
        #descriptionInput
        placeholder="Description"
        [(ngModel)]="author.description"
        name="description"
      >
      </textarea>
    </mat-form-field>
    <br /><br />
    <mat-form-field>
      <input
        id="rating"
        type="number"
        step=".5"
        matInput
        #ratingInput
        placeholder="Rating"
        [(ngModel)]="author.rating"
        name="rating"
        required
      />
    </mat-form-field>
    <br /><br />
  </form>
</div>
